/* PROFILE CARD */

.card{

  background:#4b507f;

  border-radius:20px;
  text-align:center;
  color:#e4b97a;
  position:relative;

  clip-path: polygon(
    0% 8%,
    26% 8%,
    35% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
}

.imageSection{
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.outerCircle{
  position: absolute;
  width: 160px;
  height: 160px;
  border: 6px solid #e4b97a;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1;
}

.innerCircle{
  position: absolute;
  width: 130px;
  height: 130px;
  background: #e4b97a;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  z-index: 1;
}

.imageContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3; 
}

.profileImage{
  width: 90%;
  height: 90%;
  object-fit: cover; 
  border-radius: 50%;
}

.name{
  margin-top:18px;
  font-size:24px;
  font-weight:bold;
  text-align: center;

  font-size: 24px;
  font-weight: bold;
  margin-top: 0;  
}

.id{
  font-size:12px;
}


.smallCircle{
  width:28px;
  height:28px;
  border-radius:50%;
  background:#e4b97a;
  color:#3f4674;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:14px auto 0;
  font-weight:bold;
}

.title{
  position:absolute;
  top:6px;     
  left:18px;   

  font-family: Accia Moderato;
  font-size:14px;
  color:#5B1F11;
}


.card{
  padding:40px 20px 20px 20px;
  
}

.title{
  font-family:Accia Moderato;
  font-size:14px;
  color:#5B1F11;
  text-align:left;
}


.card::before{
  content:"";
  float:left;
  width:80px;
  height:40px;

  shape-outside: polygon(
    0% 100%,
    0% 40%,
    40% 0%,
    100% 0%,
    100% 100%
  );

  shape-margin:6px;
}


.cardWrapper{
  position: relative;
  width: 280px;
}

.title{
  position: absolute;
  top: 2px;
  left: 2px;

  font-size: 14px;
  color: #5B1F11;
  font-family: Accia Moderato;
  margin-right: auto;
}


.idContainer {
  margin-top: 20px;      
  text-align: center;     
  
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;              
  color: #e4b97a;        
}

.id {
  font-size: 12px;
  margin-top: 6px;       
  color: #e4b97a;         
}